body {
  background-color: #fff;
  font-family: 'Maven Pro', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  color: #666;
}

h1 {
  font-size: 42px;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.negawatt-blue {
  color: #00adef;
}

h2.tagline {
  word-spacing: 0px;
  color: #888;
}

.location_management_container {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 350px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.location_management_container .location-results-label {
  display: block;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
}

.location_management_container .location-results-operations {
  margin: 5px 0px;
  height: 30px;
  background-color: #aaa;
}

.location_management_container .location-results {
  height: 270px;
  overflow: auto;  
}

.location_management_container .location-results .empty {
  display: block;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  color: #888;
}

.location_management_container .location-results ul {
  margin: 0px 10px;
  padding: 0px;
}

.location_management_container .location-results ul li {
  list-style: none;
  padding: 10px 0px;
  border-bottom: 1px solid #aaa;
}

.location_management_container .location-results ul li .location-name {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.location_management_container .location-results ul li .location-address {
  font-size: 12px;
  font-weight: bold;
}